---
import Layout from "../layouts/Base.astro";
import Intro from "../components/Intro.astro";
import EntreeApropos from "../assets/apropos.webp";
---

<Layout>
  <Intro
    title="À Propos"
    image={EntreeApropos.src}
    texte="Bienvenue sur la page officielle de notre festival de films d'horreur ! Découvrez l’histoire fascinante de cet événement unique, son équipe passionnée, et les valeurs qui façonnent chaque édition terrifiante."
  />
  <div class="m-4">
    <div class="flex items-center">
      <h2 class="mb-14 mt-15 mr-4">Historique</h2>
      <div class="w-full h-1 bg-white"></div>
    </div>
    <p>
      Créé en 2024 par une équipe de passionnés du cinéma de genre, notre
      festival de films d’horreur deviendra rapidement un rendez-vous
      incontournable pour les amateurs de frissons. Né de l’envie de célébrer
      l’art du cinéma horrifique sous toutes ses formes, cet événement vise à
      mettre en lumière des réalisateurs talentueux, qu’ils soient émergents ou
      reconnus. Chaque année, le festival proposera une programmation
      diversifiée, allant des classiques du genre aux œuvres indépendantes et
      innovantes, pour offrir une expérience immersive et inoubliable. Notre
      objectif est de créer un espace où se mêlent émotions fortes, réflexion
      sur les thématiques de la peur et célébration d’un genre souvent
      sous-estimé mais riche en créativité.
    </p>
    <div class="flex items-center">
      <h2 class="mb-14 mt-15 mr-4">Équipes</h2>
      <div class="w-full h-1 bg-white"></div>
    </div>
    <p>
      Le festival repose sur une équipe passionnée d’organisateurs et de
      techniciens. Ensemble, ils sélectionnent les films, créent une ambiance
      immersive et garantissent une expérience cinématographique inoubliable
      pour tous les amateurs d’horreur.
    </p>
    <div class="flex items-center">
      <h2 class="mb-14 mt-15 mr-4">Charte</h2>
      <div class="w-full h-1 bg-white"></div>
    </div>
    <p>
      Le festival valorise l’innovation, la diversité et la créativité dans le
      cinéma d’horreur. Cette édition explore la thématique de la peur, offrant
      des œuvres qui captivent et repoussent les limites du genre, pour une
      expérience à la fois effrayante et enrichissante.
    </p>
  </div>
</Layout>
