---
import Layout from "../layouts/Base.astro";
import Imgaccueil from "../assets/accueil.webp";
import LogoMonbeliard from "../assets/logomontbeliard.svg";
import LogoNFC from "../assets/logonfc.svg";
import LogoPC from "../assets/logopassculture.svg";
---

<Layout>
  <div class="">
    <h2>Historique</h2>
    <p>
      Créé en 2024 par une équipe de passionnés du cinéma de genre, notre
      festival de films d’horreur deviendra rapidement un rendez-vous
      incontournable pour les amateurs de frissons. Né de l’envie de célébrer
      l’art du cinéma horrifique sous toutes ses formes, cet événement vise à
      mettre en lumière des réalisateurs talentueux, qu’ils soient émergents ou
      reconnus. Chaque année, le festival proposera une programmation
      diversifiée, allant des classiques du genre aux œuvres indépendantes et
      innovantes, pour offrir une expérience immersive et inoubliable. Notre
      objectif est de créer un espace où se mêlent émotions fortes, réflexion
      sur les thématiques de la peur et célébration d’un genre souvent
      sous-estimé mais riche en créativité.
    </p>
    <h2>Équipe</h2>
    <p>
      Le festival repose sur une équipe passionnée d’organisateurs et de
      techniciens. Ensemble, ils sélectionnent les films, créent une ambiance
      immersive et garantissent une expérience cinématographique inoubliable
      pour tous les amateurs d’horreur.
    </p>
    <h2>Charte</h2>
    <p>
      Le festival valorise l’innovation, la diversité et la créativité dans le
      cinéma d’horreur. Cette édition explore la thématique de la peur, offrant
      des œuvres qui captivent et repoussent les limites du genre, pour une
      expérience à la fois effrayante et enrichissante.
    </p>
  </div>
</Layout>
