---
import Layout from "../layouts/Base.astro";
import Intro from "../components/Intro.astro";
import LogoFacebook from "../assets/facebook.svg";
import LogoInstagram from "../assets/instagram.svg";
---

<Layout>
  <Intro
    title="Contact"
    image="src/assets/contact.webp"
    texte="Amateurs et réalisateurs, inscrivez-vous sur le planning pour que votre film ou court-métrage soit projeté lors des séances spéciales nouveaux réalisateurs. Mettez en avant votre travail et obtenez une splendide visibilité. "
  />
  <div>
    <h2>Contact</h2>
    <p>Le Colisée</p>
    <p>8 rue Henri Mouhot</p>
    <p>25200 Montbéliard</p>
    <p>lecolise@gmail.com</p>
    <p>03 81 94 53 89</p>
    <a href="https://facebook.com" aria-label="facebook">
      <LogoFacebook /></a>
    <a href="https://instagram.com" aria-label="instagram"> 
      <LogoInstagram /></a>
  </div>
  <img src="src/assets/fantomes.webp" alt="Fantomes" />
</Layout>


