---
import Layout from "../layouts/Base.astro";
import Intro from "../components/Intro.astro";
---

<Layout>
  <Intro
    title="Programmation"
    image="src/assets/programme.webp"
    texte="Le programme se déroulera sur 3 nuits du 29 au 31 octobre 2024. Les soirées seront divisées en plusieurs parties avec de nombreuses activités. Petits et grands, venez au cinéma de Montbéliard, sauf si vous êtes des trouillards !!"
  />
  <p>Page bonus</p>
</Layout>
