---
const { text, url } = Astro.props;
---

<a
  href={url}
  class="block w-fit mx-auto mt-20 mb-20 px-30 py-4 text-lg md:text-xl lg:text-2xl
         text-center bg-red-900 text-white font-semibold rounded-xl shadow-lg
         hover:bg-white hover:text-red-900 transition-all"
>
  {text}
</a>
