---
const { Button } = Astro.props;
---

<div
  class=" mt-20 mb-20 ml-5 px-6 py-2 m-7 text-center bg-red-900 text-white font-semibold rounded-lg shadow-md hover:bg-white transition"
>
  <button>{Button}</button>

</div>
