---
import LogoFacebook from "../assets/facebook.svg";
import LogoInstagram from "../assets/instagram.svg";
import LogoMail from "../assets/mail.svg";
import Logo from "../assets/logo.svg";
---

<footer class="mt-24">
  <nav class="bg-gradient-to-b from-black to-red-900 text-white">
    <div class="p-4 lg:grid lg:grid-cols-2 lg:gap-10">
      <div>
        <p class="font-bold mb-5">Menu</p>
        <ul class="space-y-2 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-4">
          <li><a href="/">Festiv'Halloween</a></li>
          <li><a href="/Programmation">Programme</a></li>
          <li><a href="/Infospratiques">Infos pratiques</a></li>
          <li><a href="/invites">Invités</a></li>
          <li><a href="/Apropos">À propos</a></li>
          <li><a href="https://billetterie.lemoloco.com/">Billeterie</a></li>
        </ul>
      </div>
      <div>
        <p class="font-bold mb-5 mt-5 lg:mt-0">Contact</p>
        <ul class="flex gap-6">
          <li>
            <a href="https://facebook.com" aria-label="facebook">
              <LogoFacebook class="w-6 h-6" />
            </a>
          </li>
          <li>
            <a href="https://instagram.com" aria-label="instagram">
              <LogoInstagram class="w-6 h-6" />
            </a>
          </li>
          <li>
            <a href="https://mail.google.com" aria-label="twitter">
              <LogoMail class="w-6 h-6" />
            </a>
          </li>
        </ul>
        <address class="mt-5 text-sm lg:text-base">
          Le Colisée<br />8 Rue Henri Mouhot<br />25200 Montbéliard<br />
        </address>
      </div>
    </div>
    <div class="flex justify-center mt-4">
      <Logo />
    </div>
    <p class="text-xs text-center m-4 underline">
      Projet réalisé en 2025 dans le cadre d'un exercice pédagogique au service
      MMI de Montbéliard
    </p>
  </nav>
</footer>
