---
import Logo from "../assets/logo.svg";
import LogoMenu from "../assets/menu.svg";
---

<nav
  class="flex bg-gradient-to-b from-red-900 to-black text-center text-white font-bold uppercase space-x-3"
>
  <Logo />
  <a href="/">
    <h3>Festiv'Halloween</h3>
  </a>
  <LogoMenu />
</nav>
