---
const { title, image, texte } = Astro.props;
---

<div class="relative">
  <img src={image} class="w-full h-auto" alt="image" />
  <h2 class="absolute top-24 left-4 lg:top-85">{title}</h2>
  <p class="ml-4 mr-4 font-bold">{texte}</p>
</div>
